<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainLayout}">

<th:block layout:fragment="content">
	<th:block
			th:replace="@{layout/contentHeader.html} :: contentHeader('Detail','Shop management','Coupon','','')"></th:block>

	<th:block th:replace="@{layout/dataTable.html} :: dataTable"></th:block>

	<th:block th:replace="@{layout/datePicker.html} :: datePicker"></th:block>

	<div class="wrapper wrapper-content">

		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="card-title">Coupon > Detail</div>
						<hr>
						<form id="put_couponForm">
							<div class="form-group">
								<label for="put_coupon_name">Name</label>
								<input type="text" class="form-control" id="put_coupon_name" name="name">
							</div>

							<div class="form-group">
								<label for="put_coupon_type">Type</label>
								<select class="form-control single-select" id="put_coupon_type" name="type">
									<option value="RATIO">Ratio</option>
									<option value="PRICE">Price</option>
								</select>
							</div>

							<div class="form-group">
								<label for="put_coupon_amount">Amount</label>
								<input type="number" class="form-control" id="put_coupon_amount" name="amount">
							</div>

							<div class="form-group">
								<label for="put_coupon_quantity">Quantity</label>
								<input type="number" class="form-control" id="put_coupon_quantity" name="quantity">
							</div>

							<div class="form-group">
								<label for="put_coupon_startDt">Start dateTime</label>
								<input type="text" class="form-control" id="put_coupon_startDt" name="startDt">
							</div>

							<div class="form-group">
								<label for="put_coupon_endDt">End dateTime</label>
								<input type="text" class="form-control" id="put_coupon_endDt" name="endDt">
							</div>

							<div class="form-group">
								<label for="put_coupon_contents">Contents</label>
								<textarea rows="4" class="form-control" id="put_coupon_contents" name="contents"></textarea>
							</div>

							<div class="form-group">
								<button type="submit" class="btn btn-primary">Save</button>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="tabs-container">
					<ul class="nav nav-tabs" role="tablist">
						<li><a class="nav-link active" data-toggle="tab" href="#couponUser">User's coupon</a></li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="couponUser">
							<div class="panel-body">

								<div class="card">
									<div class="card-header">
										<i class="fa fa-table"></i> Coupon > User
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table id="couponUserGrid" class="table table-bordered display modal-grid" style="width: 100%;"></table>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

	<div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" id="post_couponUser">
		<div class="modal-dialog" style="max-width: 80% !important;">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<i class="fa fa-check-square-o modal-icon"></i>
				</div>

				<form id="post_couponUserForm">
					<div class="modal-body">
						<div class="form-group">
							<label for="post_couponUserQuantity">Quantity</label>
							<input type="number" class="form-control" id="post_couponUserQuantity" name="couponUserQuantity">
						</div>

						<div class="row">
							<div class="col-lg-12">
								<div class="ibox ">
									<div class="ibox-title">
										<h5>User</h5>
										<div class="ibox-tools">
											<a class="collapse-link">
												<i class="fa fa-chevron-up"></i>
											</a>
											<a class="dropdown-toggle" data-toggle="dropdown" href="#">
												<i class="fa fa-wrench"></i>
											</a>
											<ul class="dropdown-menu dropdown-user">
												<li><a href="#" class="dropdown-item">Config option 1</a>
												</li>
												<li><a href="#" class="dropdown-item">Config option 2</a>
												</li>
											</ul>
										</div>
									</div>
									<div class="ibox-content">

										<div class="table-responsive">
											<table class="table table-bordered table-hover" id="userGrid" style="width: 100%;">

											</table>
										</div>

									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" id="put_couponUser">
		<div class="modal-dialog">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<i class="fa fa-check-square-o modal-icon"></i>
				</div>

				<form id="put_couponUserForm">
					<div class="modal-body">
						<div class="form-group">
							<input type="hidden" class="form-control" id="put_item_id">
						</div>

						<div class="form-group">
							<label for="put_couponUserQuantity">Quantity</label>
							<input type="number" class="form-control" id="put_couponUserQuantity" name="couponUserQuantity">
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</th:block>

<th:block layout:fragment="customScript">
	<script th:inline="javascript" type="text/javascript">
		$(document).ready(function () {
			lozm.func.datetimepicker("put_coupon_startDt");
			lozm.func.datetimepicker("put_coupon_endDt");

			coupon.getDetail();

			couponUser.initGrid();
			couponUser.getGridData();

			user.initGrid();
			user.getGridData();

			$("#put_couponForm").validate({
				submitHandler: function(form) {
					coupon.put();
				},
				rules: {
					name: {required: true},
					contents: {required: true},
					type: {required: true},
					amount: {required: true},
					quantity: {required: true},
					startDt: {required: true},
					endDt: {required: true},
				},
			});

			$("#post_couponUserForm").validate({
				submitHandler: function(form) {
					couponUser.post();
				},
				rules: {
					couponUserQuantity: {required: true},
				},
			});

			$("#put_couponUserForm").validate({
				submitHandler: function(form) {
					couponUser.put(couponUser.selectedRows);
				},
				rules: {
					couponUserQuantity: {required: true},
				},
			});
		});

		var coupon = {
			id: window.location.pathname.split("/coupon/")[1],
			put: function () {
				lozm.func.requestPut({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/coupon",
					data: {
						id: coupon.id,
						name: $("#put_coupon_name").val(),
						contents: $("#put_coupon_contents").val(),
						type: $("#put_coupon_type").val(),
						amount: $("#put_coupon_amount").val(),
						quantity: $("#put_coupon_quantity").val(),
						startDt: $("#put_coupon_startDt").val(),
						endDt: $("#put_coupon_endDt").val()
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			getDetail: function () {
				lozm.func.requestGet({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/coupon/" + coupon.id,
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.setDetail("put_coupon_", result.data);
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
		};

		var couponUser = {
			gridId: "couponUserGrid",
			selectedRows: [],
			gridTarget: function () {
				return $("#" + couponUser.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+couponUser.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',       				data: 'id',         		visible: false},
						{title: 'userId',       			data: 'userId',         	visible: false},
						{title: 'couponId',       			data: 'couponId',         	visible: false},
						{title: 'Quantity',     			data: 'quantity',       	width: "10%"},
						{title: 'User name', 			data: 'userName',   		width: "40%"},
						{title: 'User identifier',    data: 'userIdentifier',     width: "40%"},
						{title: 'User type',    	 	data: 'userType',       	width: "10%"},
					],
					data: [],
					select: {
						style: 'multi',
					},
					buttons: [
						{
							text: '<i class="fa fa-check-square"></i>',
							action: function () {
								var _selectedRows = couponUser.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length > 0) couponUser.gridTarget().rows().deselect();
								else couponUser.gridTarget().rows().select();
							}
						},
						{
							text: '<i class="fa fa-plus"></i>',
							action: function () {
								$("#post_couponUser").modal("show");
							},
						},
						// {
						// 	text: '<i class="fa fa-edit"></i>',
						// 	action: function () {
						// 		var _selectedRows = couponUser.gridTarget().rows({selected: true}).data().toArray();
						// 		if(_selectedRows.length < 1) {
						// 			lozm.func.alertRowIsSelected();
						// 			return;
						// 		}
						//
						// 		couponUser.selectedRows = _selectedRows;
						//
						// 		$("#put_couponUser").modal("show");
						// 	},
						// },
						{
							text: '<i class="fa fa-minus"></i>',
							action: function () {
								var _selectedRows = couponUser.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								}
								if(confirm("Are you sure to delete the data?")) couponUser.delete(_selectedRows);
							},
						},
						{
							extend: "csv",
							text: '<i class="fa fa-download"></i>',
							charset: 'UTF-16LE',
						},
						{
							extend: "excel",
							text: '<i class="fa fa-file-excel-o"></i>',
							charset: 'UTF-16LE',
						}
					],
				});
			},
			getGridData: function () {
				lozm.func.requestGet({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/coupon/" + coupon.id + "/user",
					callback: {
						success: function (result) {

							if(result.success) {
								coupon.getDetail();
								couponUser.gridTarget().clear().draw();
								couponUser.gridTarget().rows.add(result.data.list).draw();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			post: function () {
				lozm.func.requestPost({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/coupon/user",
					data: {
						couponId: coupon.id,
						userList: user.getSelectedRows(),
						couponUserQuantity: $("#post_couponUserQuantity").val()
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								coupon.getDetail();
								couponUser.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			put: function (list) {
				lozm.func.requestPut({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/coupon/user",
					data: {
						list: list,
						couponUserQuantity: $("#put_couponUserQuantity").val()
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								coupon.getDetail();
								couponUser.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			delete: function (list) {
				lozm.func.requestDelete({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/coupon/user",
					data: {
						list: list
					},
					callback: {
						success: function (result) {
							console.log(result);
							if(result.success) {
								lozm.func.alertSuccess();
								coupon.getDetail();
								couponUser.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
		};

		var user = {
			gridId: "userGrid",
			gridTarget: function () {
				return $("#" + user.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+user.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',               	data: 'id',             	visible: false},
						{title: 'password',             data: 'password',           visible: false},
						{title: 'Identifier', 			data: 'identifier', 		width: "40%"},
						{title: 'Name', 				data: 'name', 				width: "40%"},
						{title: 'Type', 				data: 'type', 				width: "20%"},
					],
					data: [],
					select: {
						style: 'multi',
					},
					buttons: [
						{
							text: '<i class="fa fa-check-square"></i>',
							action: function () {
								var _selectedRows = user.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length > 0) user.gridTarget().rows().deselect();
								else user.gridTarget().rows().select();
							}
						},
						{
							extend: "csv",
							text: '<i class="fa fa-download"></i>',
							charset: 'UTF-16LE',
						},
						{
							extend: "excel",
							text: '<i class="fa fa-file-excel-o"></i>',
							charset: 'UTF-16LE',
						}
					],
				});
			},
			getGridData: function () {
				lozm.func.requestGet({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/user",
					callback: {
						success: function (result) {

							if(result.success) {
								user.gridTarget().clear().draw();
								user.gridTarget().rows.add(result.data.list).draw();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			getSelectedRows: function () {
				return user.gridTarget().rows({selected: true}).data().toArray();
			},
		};

	</script>
</th:block>
</html>
