<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainLayout}">

<th:block layout:fragment="content">
	<th:block
			th:replace="@{layout/contentHeader.html} :: contentHeader('Detail','Shop management','Manage store','','')"></th:block>

	<th:block th:replace="@{layout/dataTable.html} :: dataTable"></th:block>

	<div class="wrapper wrapper-content">

		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="card-title">Store > Detail</div>
						<hr>
						<form id="put_storeForm">
							<div class="form-group">
								<label for="put_name">Store name</label>
								<input type="text" class="form-control" id="put_name" name="name">
							</div>

							<div class="form-group">
								<label for="put_telNumber">Telephone number</label>
								<input type="text" class="form-control" id="put_telNumber" name="telNumber">
							</div>

							<div class="form-group">
								<label for="put_info">Information</label>
								<textarea rows="4" class="form-control" id="put_info" name="info"></textarea>
							</div>

							<div class="form-group">
								<button type="submit" class="btn btn-primary">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="tabs-container">
					<ul class="nav nav-tabs" role="tablist">
						<li><a class="nav-link active" data-toggle="tab" href="#outer">Outer</a></li>
						<li><a class="nav-link" data-toggle="tab" href="#top">Top</a></li>
						<li><a class="nav-link" data-toggle="tab" href="#bottom">Bottom</a></li>
						<li><a class="nav-link" data-toggle="tab" href="#shoes">Shoes</a></li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="outer">
							<div class="panel-body">

								<div class="card">
									<div class="card-header">
										<i class="fa fa-table"></i> Store > Outer
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table id="outerGrid" class="table table-bordered display modal-grid" style="width: 100%;"></table>
										</div>
									</div>
								</div>

							</div>
						</div>

						<div role="tabpanel" class="tab-pane" id="top">
							<div class="panel-body">

								<div class="card">
									<div class="card-header">
										<i class="fa fa-table"></i> Store > Top
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table id="topGrid" class="table table-bordered display modal-grid" style="width: 100%;"></table>
										</div>
									</div>
								</div>

							</div>
						</div>

						<div role="tabpanel" class="tab-pane" id="bottom">
							<div class="panel-body">

								<div class="card">
									<div class="card-header">
										<i class="fa fa-table"></i> Store > Bottom
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table id="bottomGrid" class="table table-bordered display modal-grid" style="width: 100%;"></table>
										</div>
									</div>
								</div>

							</div>
						</div>

						<div role="tabpanel" class="tab-pane" id="shoes">
							<div class="panel-body">

								<div class="card">
									<div class="card-header">
										<i class="fa fa-table"></i> Store > Shoes
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table id="shoesGrid" class="table table-bordered display modal-grid" style="width: 100%;"></table>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>


				</div>
			</div>
		</div>

	</div>

	<div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" id="post_item">
		<div class="modal-dialog">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<i class="fa fa-check-square-o modal-icon"></i>
				</div>

				<form id="post_itemForm">
					<div class="modal-body">
						<div class="form-group">
							<label for="post_item_type">Type</label>
							<input type="text" class="form-control" id="post_item_type" name="type" readonly>
						</div>

						<div class="form-group">
							<label for="post_item_name">Name</label>
							<input type="text" class="form-control" id="post_item_name" name="name">
						</div>

						<div class="form-group">
							<label for="post_item_price">Price</label>
							<input type="text" class="form-control" id="post_item_price" name="price">
						</div>

						<div class="form-group">
							<label for="post_item_size">Size</label>
							<input type="text" class="form-control" id="post_item_size" name="size">
						</div>

						<div class="form-group">
							<label for="post_item_quantity">Quantity</label>
							<input type="text" class="form-control" id="post_item_quantity" name="quantity">
						</div>

						<div class="form-group">
							<label for="post_item_contents">Contents</label>
							<textarea rows="4" class="form-control" id="post_item_contents" name="contents"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" id="put_item">
		<div class="modal-dialog">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<i class="fa fa-check-square-o modal-icon"></i>
				</div>

				<form id="put_itemForm">
					<div class="modal-body">
						<div class="form-group">
							<input type="hidden" class="form-control" id="put_item_id">
						</div>

						<div class="form-group">
							<label for="put_item_type">Type</label>
							<input type="text" class="form-control" id="put_item_type" name="type" readonly>
						</div>

						<div class="form-group">
							<label for="put_item_name">name</label>
							<input type="text" class="form-control" id="put_item_name" name="name">
						</div>

						<div class="form-group">
							<label for="put_item_price">price</label>
							<input type="text" class="form-control" id="put_item_price" name="price">
						</div>

						<div class="form-group">
							<label for="put_item_size">size</label>
							<input type="text" class="form-control" id="put_item_size" name="size">
						</div>

						<div class="form-group">
							<label for="put_item_quantity">quantity</label>
							<input type="text" class="form-control" id="put_item_quantity" name="quantity">
						</div>

						<div class="form-group">
							<label for="put_item_contents">contents</label>
							<textarea rows="4" class="form-control" id="put_item_contents" name="contents"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</th:block>

<th:block layout:fragment="customScript">
	<script th:inline="javascript" type="text/javascript">
		$(document).ready(function () {
			store.getDetail();

			itemOuter.initGrid();
			item.getGridData(item.type.outer);
			itemTop.initGrid();
			item.getGridData(item.type.top);
			itemBottom.initGrid();
			item.getGridData(item.type.bottom);
			itemShoes.initGrid();
			item.getGridData(item.type.shoes);

			$("#put_storeForm").validate({
				submitHandler: function(form) {
					store.put();
				},
				rules: {
					name: {required: true},
					telNumber: {required: true, minlength: 9},
					info: {required: true}
				},
			});

			$("#post_itemForm").validate({
				submitHandler: function(form) {
					item.post($("#post_item_type").val());
				},
				rules: {
					name: {required: true},
					price: {required: true},
					size: {required: true},
					quantity: {required: true},
					contents: {required: true},
					type: {required: true},
				},
			});

			$("#put_itemForm").validate({
				submitHandler: function(form) {
					item.put($("#put_item_type").val());
				},
				rules: {
					name: {required: true},
					price: {required: true},
					size: {required: true},
					quantity: {required: true},
					contents: {required: true},
					id: {required: true},
				},
			});
		});

		var store = {
			id: window.location.pathname.split("/store/")[1],
			getDetail: function() {
				lozm.func.requestGet({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/store/" + store.id,
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.setDetail("put_", result.data);
							} else {
								lozm.func.alertFail(result.message);
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
							lozm.func.alertFail();
						}
					}
				});
			},
			put: function () {
				lozm.func.requestPut({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/store",
					data: {
						id: store.id,
						name: $("#put_name").val(),
						telNumber: $("#put_telNumber").val(),
						info: $("#put_info").val()
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
		};

		var item = {
			type: {
				outer: "OUTER",
				top: "TOP",
				bottom: "BOTTOM",
				shoes: "SHOES"
			},
			getGridData: function (itemType) {
				lozm.func.requestGet({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/store/" + store.id + "/clothing/" + itemType,
					callback: {
						success: function(result) {

							if(result.success === true) {
								var _gridTarget = $("#" + itemType.toLowerCase() + "Grid").DataTable();
								_gridTarget.clear().draw();
								_gridTarget.rows.add(result.data.list).draw();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function(xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			post: function (itemType) {
				lozm.func.requestPost({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/item",
					data: {
						name: $("#post_item_name").val(),
						price: $("#post_item_price").val(),
						quantity: $("#post_item_quantity").val(),
						contents: $("#post_item_contents").val(),
						size: $("#post_item_size").val(),
						type: $("#post_item_type").val(),
						storeId: store.id
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								item.getGridData(itemType);
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			put: function (itemType) {
				lozm.func.requestPut({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/item",
					data: {
						id: $("#put_item_id").val(),
						name: $("#put_item_name").val(),
						price: $("#put_item_price").val(),
						quantity: $("#put_item_quantity").val(),
						contents: $("#put_item_contents").val(),
						size: $("#put_item_size").val()
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								item.getGridData(itemType);
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			delete: function (list, itemType) {
				lozm.func.requestDelete({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/item",
					data: {
						list: list
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								item.getGridData(itemType);
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
		};

		var itemOuter = {
			gridId: "outerGrid",
			gridTarget: function () {
				return $("#" + itemOuter.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+itemOuter.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',       data: 'id',         visible: false},
						{title: 'name',     data: 'name',       width: "30%"},
						{title: 'contents', data: 'contents',   width: "40%"},
						{title: 'price',    data: 'price',      width: "10%"},
						{title: 'size',     data: 'size',       width: "10%"},
						{title: 'quantity', data: 'quantity',   width: "10%"},
					],
					data: [],
					select: {
						style: 'multi',
					},
					buttons: [
						{
							text: '<i class="fa fa-check-square"></i>',
							action: function () {
								var _selectedRows = itemOuter.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length > 0) itemOuter.gridTarget().rows().deselect();
								else itemOuter.gridTarget().rows().select();
							}
						},
						{
							text: '<i class="fa fa-plus"></i>',
							action: function () {
								$('#post_item_type').val(item.type.outer);
								$("#post_item").modal("show");
							},
						},
						{
							text: '<i class="fa fa-edit"></i>',
							action: function () {
								var _selectedRows = itemOuter.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								} else if(_selectedRows.length > 1) {
									lozm.func.alertRowsAreSelected();
									return;
								}

								lozm.func.setDetail("put_item_", _selectedRows[0]);
								$('#put_item_type').val(item.type.outer);
								$("#put_item").modal("show");
							},
						},
						{
							text: '<i class="fa fa-minus"></i>',
							action: function () {
								var _selectedRows = itemOuter.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								}
								if(confirm("Are you sure to delete the data?")) item.delete(_selectedRows, item.type.outer);
							},
						},
						{
							extend: "csv",
							text: '<i class="fa fa-download"></i>',
							charset: 'UTF-16LE',
						},
						{
							extend: "excel",
							text: '<i class="fa fa-file-excel-o"></i>',
							charset: 'UTF-16LE',
						}
					],
				});
			},
		};

		var itemTop = {
			gridId: "topGrid",
			gridTarget: function () {
				return $("#" + itemTop.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+itemTop.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',       data: 'id',         visible: false},
						{title: 'name',     data: 'name',       width: "30%"},
						{title: 'contents', data: 'contents',   width: "40%"},
						{title: 'price',    data: 'price',      width: "10%"},
						{title: 'size',     data: 'size',       width: "10%"},
						{title: 'quantity', data: 'quantity',   width: "10%"},
					],
					data: [],
					select: {
						style: 'multi',
					},
					buttons: [
						{
							text: '<i class="fa fa-check-square"></i>',
							action: function () {
								var _selectedRows = itemTop.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length > 0) itemTop.gridTarget().rows().deselect();
								else itemTop.gridTarget().rows().select();
							}
						},
						{
							text: '<i class="fa fa-plus"></i>',
							action: function () {
								$('#post_item_type').val(item.type.top);
								$("#post_item").modal("show");
							},
						},
						{
							text: '<i class="fa fa-edit"></i>',
							action: function () {
								var _selectedRows = itemTop.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								} else if(_selectedRows.length > 1) {
									lozm.func.alertRowsAreSelected();
									return;
								}

								console.log(_selectedRows);
								lozm.func.setDetail("put_item_", _selectedRows[0]);
								$('#put_item_type').val(item.type.top);
								$("#put_item").modal("show");
							},
						},
						{
							text: '<i class="fa fa-minus"></i>',
							action: function () {
								var _selectedRows = itemTop.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								}
								if(confirm("Are you sure to delete the data?")) item.delete(_selectedRows, item.type.top);
							},
						},
						{
							extend: "csv",
							text: '<i class="fa fa-download"></i>',
							charset: 'UTF-16LE',
						},
						{
							extend: "excel",
							text: '<i class="fa fa-file-excel-o"></i>',
							charset: 'UTF-16LE',
						}
					],
				});
			},

		};

		var itemBottom = {
			gridId: "bottomGrid",
			gridTarget: function () {
				return $("#" + itemBottom.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+itemBottom.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',       data: 'id',         visible: false},
						{title: 'name',     data: 'name',       width: "30%"},
						{title: 'contents', data: 'contents',   width: "40%"},
						{title: 'price',    data: 'price',      width: "10%"},
						{title: 'size',     data: 'size',       width: "10%"},
						{title: 'quantity', data: 'quantity',   width: "10%"},
					],
					data: [],
					select: {
						style: 'multi',
					},
					buttons: [
						{
							text: '<i class="fa fa-check-square"></i>',
							action: function () {
								var _selectedRows = itemBottom.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length > 0) itemBottom.gridTarget().rows().deselect();
								else itemBottom.gridTarget().rows().select();
							}
						},
						{
							text: '<i class="fa fa-plus"></i>',
							action: function () {
								$('#post_item_type').val(item.type.bottom);
								$("#post_item").modal("show");
							},
						},
						{
							text: '<i class="fa fa-edit"></i>',
							action: function () {
								var _selectedRows = itemBottom.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								} else if(_selectedRows.length > 1) {
									lozm.func.alertRowsAreSelected();
									return;
								}

								console.log(_selectedRows);
								lozm.func.setDetail("put_item_", _selectedRows[0]);
								$('#put_item_type').val(item.type.bottom);
								$("#put_item").modal("show");
							},
						},
						{
							text: '<i class="fa fa-minus"></i>',
							action: function () {
								var _selectedRows = itemBottom.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								}
								if(confirm("Are you sure to delete the data?")) item.delete(_selectedRows, item.type.bottom);
							},
						},
						{
							extend: "csv",
							text: '<i class="fa fa-download"></i>',
							charset: 'UTF-16LE',
						},
						{
							extend: "excel",
							text: '<i class="fa fa-file-excel-o"></i>',
							charset: 'UTF-16LE',
						}
					],
				});
			},
		};

		var itemShoes = {
			gridId: "shoesGrid",
			gridTarget: function () {
				return $("#" + itemShoes.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+itemShoes.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',       data: 'id',         visible: false},
						{title: 'name',     data: 'name',       width: "30%"},
						{title: 'contents', data: 'contents',   width: "40%"},
						{title: 'price',    data: 'price',      width: "10%"},
						{title: 'size',     data: 'size',       width: "10%"},
						{title: 'quantity', data: 'quantity',   width: "10%"},
					],
					data: [],
					select: {
						style: 'multi',
					},
					buttons: [
						{
							text: '<i class="fa fa-check-square"></i>',
							action: function () {
								var _selectedRows = itemShoes.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length > 0) itemShoes.gridTarget().rows().deselect();
								else itemShoes.gridTarget().rows().select();
							}
						},
						{
							text: '<i class="fa fa-plus"></i>',
							action: function () {
								$('#post_item_type').val(item.type.shoes);
								$("#post_item").modal("show");
							},
						},
						{
							text: '<i class="fa fa-edit"></i>',
							action: function () {
								var _selectedRows = itemShoes.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								} else if(_selectedRows.length > 1) {
									lozm.func.alertRowsAreSelected();
									return;
								}

								console.log(_selectedRows);
								lozm.func.setDetail("put_item_", _selectedRows[0]);
								$('#put_item_type').val(item.type.shoes);
								$("#put_item").modal("show");
							},
						},
						{
							text: '<i class="fa fa-minus"></i>',
							action: function () {
								var _selectedRows = itemShoes.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								}
								if(confirm("Are you sure to delete the data?")) item.delete(_selectedRows, item.type.shoes);
							},
						},
						{
							extend: "csv",
							text: '<i class="fa fa-download"></i>',
							charset: 'UTF-16LE',
						},
						{
							extend: "excel",
							text: '<i class="fa fa-file-excel-o"></i>',
							charset: 'UTF-16LE',
						}
					],
				});
			},
		};

	</script>
</th:block>
</html>
