<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainLayout}">

<th:block layout:fragment="content">
	<th:block
			th:replace="@{layout/contentHeader.html} :: contentHeader('Delivery','Setting','','','')"></th:block>

	<th:block th:replace="@{layout/dataTable.html} :: dataTable"></th:block>

	<div class="wrapper wrapper-content">

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox ">
					<div class="ibox-title">
						<h5>Delivery</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="fa fa-wrench"></i>
							</a>
							<ul class="dropdown-menu dropdown-user">
								<li><a href="#" class="dropdown-item">Config option 1</a>
								</li>
								<li><a href="#" class="dropdown-item">Config option 2</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="ibox-content">

						<div class="table-responsive">
							<table class="table table-bordered table-hover" id="deliveryGrid">

							</table>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" id="post_delivery">
		<div class="modal-dialog">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<i class="fa fa-check-square-o modal-icon"></i>
				</div>

				<form id="post_deliveryForm">
					<div class="modal-body">
						<div class="form-group">
							<label for="post_country">Country</label>
							<input type="text" class="form-control" id="post_country" name="country">
						</div>

						<div class="form-group">
							<label for="post_zipCode">ZipCode</label>
							<input type="text" class="form-control" id="post_zipCode" name="zipCode">
						</div>

						<div class="form-group">
							<label for="post_city">City</label>
							<input type="text" class="form-control" id="post_city" name="city">
						</div>

						<div class="form-group">
							<label for="post_street">Street</label>
							<input type="text" class="form-control" id="post_street" name="street">
						</div>

						<div class="form-group">
							<label for="post_etc">etc</label>
							<input type="text" class="form-control" id="post_etc" name="etc">
						</div>

						<div class="form-group">
							<label for="post_status">Status</label>
							<select class="form-control single-select" id="post_status" name="status">
								<option value="PREPARATION">Preparation</option>
								<option value="PROGRESS">Progress</option>
								<option value="COMPLETE">Complete</option>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" id="put_delivery">
		<div class="modal-dialog">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<i class="fa fa-check-square-o modal-icon"></i>
				</div>

				<form id="put_deliveryForm">
					<div class="modal-body">
						<div class="form-group">
							<input type="hidden" id="put_id">
						</div>

						<div class="form-group">
							<label for="put_country">Country</label>
							<input type="text" class="form-control" id="put_country" name="country">
						</div>

						<div class="form-group">
							<label for="put_zipCode">ZipCode</label>
							<input type="text" class="form-control" id="put_zipCode" name="zipCode">
						</div>

						<div class="form-group">
							<label for="put_city">City</label>
							<input type="text" class="form-control" id="put_city" name="city">
						</div>

						<div class="form-group">
							<label for="put_street">Street</label>
							<input type="text" class="form-control" id="put_street" name="street">
						</div>

						<div class="form-group">
							<label for="put_etc">etc</label>
							<input type="text" class="form-control" id="put_etc" name="etc">
						</div>

						<div class="form-group">
							<label for="put_status">Status</label>
							<select class="form-control single-select" id="put_status" name="status">
								<option value="PREPARATION">Preparation</option>
								<option value="PROGRESS">Progress</option>
								<option value="COMPLETE">Complete</option>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</th:block>

<th:block layout:fragment="customScript">
	<script th:inline="javascript" type="text/javascript">
		$(document).ready(function () {
			delivery.initGrid();
			delivery.getGridData();

			$("#post_deliveryForm").validate({
				submitHandler: function(form) {
					delivery.post();
				},
				rules: {
					country: {required: true},
					zipCode: {required: true},
					city: {required: true},
					street: {required: true},
				},
			});


			$("#put_deliveryForm").validate({
				submitHandler: function(form) {
					delivery.put();
				},
				rules: {
					id: {required: true},
					country: {required: true},
					zipCode: {required: true},
					city: {required: true},
					street: {required: true},
				},
			});
		});

		var delivery = {
			gridId: "deliveryGrid",
			gridTarget: function () {
				return $("#" + delivery.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+delivery.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',               	data: 'id',             	visible: false},
						{title: 'Status', 				data: 'status', 			width: "15%"},
						{title: 'Country', 				data: 'country', 			width: "15%"},
						{title: 'ZipCode', 				data: 'zipCode', 			width: "15%"},
						{title: 'City', 				data: 'city', 				width: "15%"},
						{title: 'Street', 				data: 'street', 			width: "15%"},
						{title: 'Etc', 					data: 'etc', 				width: "25%"},
					],
					data: [],
					select: {
						style: 'multi',
					},
					buttons: [
						{
							text: '<i class="fa fa-check-square"></i>',
							action: function () {
								var _selectedRows = delivery.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length > 0) delivery.gridTarget().rows().deselect();
								else delivery.gridTarget().rows().select();
							}
						},
						{
							text: '<i class="fa fa-plus"></i>',
							action: function () {
								$("#post_delivery").modal("show");
							},
						},
						{
							text: '<i class="fa fa-edit"></i>',
							action: function () {
								var _selectedRows = delivery.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								} else if(_selectedRows.length > 1) {
									lozm.func.alertRowsAreSelected();
									return;
								}

								lozm.func.setDetail("put_", _selectedRows[0]);

								$("#put_delivery").modal("show");
							},
						},
						{
							text: '<i class="fa fa-minus"></i>',
							action: function () {
								var _selectedRows = delivery.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								}

								if(confirm("Are you sure to delete the data?")) delivery.delete(_selectedRows);
							},
						},
						{
							extend: "csv",
							text: '<i class="fa fa-download"></i>',
							charset: 'UTF-16LE',
						},
						{
							extend: "excel",
							text: '<i class="fa fa-file-excel-o"></i>',
							charset: 'UTF-16LE',
						}
					],
				});
			},
			getGridData: function () {
				lozm.func.requestGet({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/delivery",
					callback: {
						success: function (result) {

							if(result.success) {
								delivery.gridTarget().clear().draw();
								delivery.gridTarget().rows.add(result.data.list).draw();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			post: function () {
				lozm.func.requestPost({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/delivery",
					data: {
						country: $("#post_country").val(),
						zipCode: $("#post_zipCode").val(),
						city: $("#post_city").val(),
						street: $("#post_street").val(),
						etc: $("#post_etc").val(),
						status: $("#post_status").val()
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								delivery.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			put: function () {
				lozm.func.requestPut({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/delivery",
					data: {
						id: $("#put_id").val(),
						country: $("#put_country").val(),
						zipCode: $("#put_zipCode").val(),
						city: $("#put_city").val(),
						street: $("#put_street").val(),
						etc: $("#put_etc").val(),
						status: $("#put_status").val()
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								delivery.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			delete: function (list) {
				lozm.func.requestDelete({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/delivery",
					data: {
						list: list
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								delivery.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
		};

	</script>
</th:block>
</html>
