<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainLayout}">

<th:block layout:fragment="content">
	<th:block
			th:replace="@{layout/contentHeader.html} :: contentHeader('Orders','Shop management','','','')"></th:block>

	<th:block th:replace="@{layout/dataTable.html} :: dataTable"></th:block>

	<div class="wrapper wrapper-content">

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox ">
					<div class="ibox-title">
						<h5>Orders</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="fa fa-wrench"></i>
							</a>
							<ul class="dropdown-menu dropdown-user">
								<li><a href="#" class="dropdown-item">Config option 1</a>
								</li>
								<li><a href="#" class="dropdown-item">Config option 2</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="ibox-content">

						<div class="table-responsive">
							<table class="table table-bordered table-hover" id="ordersGrid">

							</table>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" id="post_orders">
		<div class="modal-dialog">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<i class="fa fa-check-square-o modal-icon"></i>
				</div>

				<form id="post_ordersForm">
					<div class="modal-body">
						<div class="form-group">
							<input type="hidden" id="post_user_id">

							<label for="post_user">User</label>
							<div class="input-group mb-3">
								<input type="text" class="form-control" id="post_user" readonly name="user">
								<div class="input-group-append">
									<span class="input-group-text" onclick='$("#get_user").modal("show")'><i class="fa fa-search"></i></span>
								</div>
							</div>
						</div>

						<div class="form-group">
							<input type="hidden" id="post_store_id">

							<label for="post_store">Store</label>
							<div class="input-group mb-3">
								<input type="text" class="form-control" id="post_store" readonly name="store">
								<div class="input-group-append">
									<span class="input-group-text" onclick='$("#get_store").modal("show")'><i class="fa fa-search"></i></span>
								</div>
							</div>
						</div>

						<div class="form-group">
							<input type="hidden" id="post_item_id">

							<label for="post_item">Item</label>
							<div class="input-group mb-3">
								<input type="text" class="form-control" id="post_item" readonly name="item">
								<div class="input-group-append">
									<span class="input-group-text" onclick="item.showModal()"><i class="fa fa-search"></i></span>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="post_item_quantity">Item quantity</label>
							<input type="number" class="form-control" id="post_item_quantity" name="item_quantity" value="1">
						</div>

						<div class="form-group">
							<input type="hidden" id="post_coupon_id">

							<label for="post_coupon">Coupon</label>
							<div class="input-group mb-3">
								<input type="text" class="form-control" id="post_coupon" readonly name="coupon">
								<div class="input-group-append">
									<span class="input-group-text" onclick='$("#get_coupon").modal("show")'><i class="fa fa-search"></i></span>
								</div>
							</div>
						</div>

						<div class="form-group">
							<input type="hidden" id="post_delivery_id">

							<label for="post_delivery">Delivery</label>
							<div class="input-group mb-3">
								<input type="text" class="form-control" id="post_delivery" readonly name="delivery">
								<div class="input-group-append">
									<span class="input-group-text" onclick='$("#get_delivery").modal("show")'><i class="fa fa-search"></i></span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" id="put_orders">
		<div class="modal-dialog">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<i class="fa fa-check-square-o modal-icon"></i>
				</div>

				<form id="put_ordersForm">
					<div class="modal-body">
						<div class="form-group">
							<input type="hidden" id="put_ordersId">
						</div>

						<div class="form-group">
							<label for="put_ordersStatus">Status</label>
							<select class="form-control single-select" id="put_ordersStatus" name="ordersStatus">
								<option value="PREPARATION">Preparation</option>
								<option value="PROGRESS">Progress</option>
								<option value="COMPLETE">Complete</option>
							</select>
						</div>
						<!--							<div class="form-group">-->
						<!--								<input type="hidden" id="put_user_id">-->

						<!--								<label for="put_user">User</label>-->
						<!--								<div class="input-group mb-3">-->
						<!--									<input type="text" class="form-control" id="put_user" readonly name="user">-->
						<!--									<div class="input-group-append">-->
						<!--										<span class="input-group-text" onclick='$("#get_user").modal("show")'><i class="fa fa-search"></i></span>-->
						<!--									</div>-->
						<!--								</div>-->
						<!--							</div>-->

						<!--							<div class="form-group">-->
						<!--								<input type="hidden" id="put_store_id">-->

						<!--								<label for="put_store">Store</label>-->
						<!--								<div class="input-group mb-3">-->
						<!--									<input type="text" class="form-control" id="put_store" readonly name="store">-->
						<!--									<div class="input-group-append">-->
						<!--										<span class="input-group-text" onclick='$("#get_store").modal("show")'><i class="fa fa-search"></i></span>-->
						<!--									</div>-->
						<!--								</div>-->
						<!--							</div>-->

						<!--							<div class="form-group">-->
						<!--								<input type="hidden" id="put_item_id">-->

						<!--								<label for="put_item">Item</label>-->
						<!--								<div class="input-group mb-3">-->
						<!--									<input type="text" class="form-control" id="put_item" readonly name="item">-->
						<!--									<div class="input-group-append">-->
						<!--										<span class="input-group-text" onclick="item.showModal()"><i class="fa fa-search"></i></span>-->
						<!--									</div>-->
						<!--								</div>-->
						<!--							</div>-->

						<!--							<div class="form-group">-->
						<!--								<label for="put_item_quantity">Item quantity</label>-->
						<!--								<input type="number" class="form-control" id="put_item_quantity" name="item_quantity" value="1">-->
						<!--							</div>-->

						<!--							<div class="form-group">-->
						<!--								<input type="hidden" id="put_coupon_id">-->

						<!--								<label for="put_coupon">Coupon</label>-->
						<!--								<div class="input-group mb-3">-->
						<!--									<input type="text" class="form-control" id="put_coupon" readonly name="coupon">-->
						<!--									<div class="input-group-append">-->
						<!--										<span class="input-group-text" onclick='$("#get_coupon").modal("show")'><i class="fa fa-search"></i></span>-->
						<!--									</div>-->
						<!--								</div>-->
						<!--							</div>-->

						<!--							<div class="form-group">-->
						<!--								<input type="hidden" id="put_delivery_id">-->

						<!--								<label for="put_delivery">Delivery</label>-->
						<!--								<div class="input-group mb-3">-->
						<!--									<input type="text" class="form-control" id="put_delivery" readonly name="delivery">-->
						<!--									<div class="input-group-append">-->
						<!--										<span class="input-group-text" onclick='$("#get_delivery").modal("show")'><i class="fa fa-search"></i></span>-->
						<!--									</div>-->
						<!--								</div>-->
						<!--							</div>-->
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- sub modal -->
	<div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" id="get_user">
		<div class="modal-dialog" style="max-width: 80% !important;">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<i class="fa fa-check-square-o modal-icon"></i>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="ibox ">
								<div class="ibox-title">
									<h5>User</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up"></i>
										</a>
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
											<i class="fa fa-wrench"></i>
										</a>
										<ul class="dropdown-menu dropdown-user">
											<li><a href="#" class="dropdown-item">Config option 1</a>
											</li>
											<li><a href="#" class="dropdown-item">Config option 2</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="ibox-content">

									<div class="table-responsive">
										<table class="table table-bordered table-hover" id="userGrid" style="width: 100%;">

										</table>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" onclick="user.setInput()">Select</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" id="get_store">
		<div class="modal-dialog" style="max-width: 80% !important;">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<i class="fa fa-check-square-o modal-icon"></i>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="ibox ">
								<div class="ibox-title">
									<h5>Store</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up"></i>
										</a>
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
											<i class="fa fa-wrench"></i>
										</a>
										<ul class="dropdown-menu dropdown-user">
											<li><a href="#" class="dropdown-item">Config option 1</a>
											</li>
											<li><a href="#" class="dropdown-item">Config option 2</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="ibox-content">

									<div class="table-responsive">
										<table class="table table-bordered table-hover" id="storeGrid" style="width: 100%;">

										</table>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" onclick="store.setInput()">Select</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" id="get_item">
		<div class="modal-dialog" style="max-width: 80% !important;">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<i class="fa fa-check-square-o modal-icon"></i>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="tabs-container">
								<ul class="nav nav-tabs" role="tablist">
									<li><a class="nav-link active" data-toggle="tab" href="#outer">Outer</a></li>
									<li><a class="nav-link" data-toggle="tab" href="#top">Top</a></li>
									<li><a class="nav-link" data-toggle="tab" href="#bottom">Bottom</a></li>
									<li><a class="nav-link" data-toggle="tab" href="#shoes">Shoes</a></li>
								</ul>
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="outer">
										<div class="panel-body">

											<div class="card">
												<div class="card-header">
													<i class="fa fa-table"></i> Store > Outer
												</div>
												<div class="card-body">
													<div class="table-responsive">
														<table id="outerGrid" class="table table-bordered display modal-grid" style="width: 100%;"></table>
													</div>
												</div>
											</div>

										</div>
									</div>

									<div role="tabpanel" class="tab-pane" id="top">
										<div class="panel-body">

											<div class="card">
												<div class="card-header">
													<i class="fa fa-table"></i> Store > Top
												</div>
												<div class="card-body">
													<div class="table-responsive">
														<table id="topGrid" class="table table-bordered display modal-grid" style="width: 100%;"></table>
													</div>
												</div>
											</div>

										</div>
									</div>

									<div role="tabpanel" class="tab-pane" id="bottom">
										<div class="panel-body">

											<div class="card">
												<div class="card-header">
													<i class="fa fa-table"></i> Store > Bottom
												</div>
												<div class="card-body">
													<div class="table-responsive">
														<table id="bottomGrid" class="table table-bordered display modal-grid" style="width: 100%;"></table>
													</div>
												</div>
											</div>

										</div>
									</div>

									<div role="tabpanel" class="tab-pane" id="shoes">
										<div class="panel-body">

											<div class="card">
												<div class="card-header">
													<i class="fa fa-table"></i> Store > Shoes
												</div>
												<div class="card-body">
													<div class="table-responsive">
														<table id="shoesGrid" class="table table-bordered display modal-grid" style="width: 100%;"></table>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>


							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" onclick="item.setInput()">Select</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" id="get_coupon">
		<div class="modal-dialog" style="max-width: 80% !important;">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<i class="fa fa-check-square-o modal-icon"></i>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="ibox ">
								<div class="ibox-title">
									<h5>Coupon</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up"></i>
										</a>
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
											<i class="fa fa-wrench"></i>
										</a>
										<ul class="dropdown-menu dropdown-user">
											<li><a href="#" class="dropdown-item">Config option 1</a>
											</li>
											<li><a href="#" class="dropdown-item">Config option 2</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="ibox-content">

									<div class="table-responsive">
										<table class="table table-bordered table-hover" id="couponGrid" style="width: 100%;">

										</table>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" onclick="coupon.setInput()">Select</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" id="get_delivery">
		<div class="modal-dialog" style="max-width: 80% !important;">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<i class="fa fa-check-square-o modal-icon"></i>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="ibox ">
								<div class="ibox-title">
									<h5>Delivery</h5>
									<div class="ibox-tools">
										<a class="collapse-link">
											<i class="fa fa-chevron-up"></i>
										</a>
										<a class="dropdown-toggle" data-toggle="dropdown" href="#">
											<i class="fa fa-wrench"></i>
										</a>
										<ul class="dropdown-menu dropdown-user">
											<li><a href="#" class="dropdown-item">Config option 1</a>
											</li>
											<li><a href="#" class="dropdown-item">Config option 2</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="ibox-content">

									<div class="table-responsive">
										<table class="table table-bordered table-hover" id="deliveryGrid" style="width: 100%;">

										</table>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" onclick="delivery.setInput()">Select</button>
				</div>
			</div>
		</div>
	</div>
	<!-- sub modal -->
</th:block>

<th:block layout:fragment="customScript">
	<script th:inline="javascript" type="text/javascript">
		$(document).ready(function () {
			orders.initGrid();
			orders.getGridData();

			user.initGrid();
			user.getGridData();

			store.initGrid();
			store.getGridData();

			itemOuter.initGrid();
			itemTop.initGrid();
			itemBottom.initGrid();
			itemShoes.initGrid();

			coupon.initGrid();
			coupon.getGridData();

			delivery.initGrid();
			delivery.getGridData();

			$("#post_ordersForm").validate({
				submitHandler: function(form) {
					orders.post();
				},
				rules: {
					user: {required: true},
					store: {required: true},
					item: {required: true},
					item_quantity: {required: true},
					coupon: {required: true},
					delivery: {required: true},
				},
			});

			$("#put_ordersForm").validate({
				submitHandler: function(form) {
					orders.put();
				},
				rules: {
					user: {required: true},
					store: {required: true},
					item: {required: true},
					item_quantity: {required: true},
					coupon: {required: true},
					delivery: {required: true},
				},
			});
		});

		var orders = {
			gridId: "ordersGrid",
			gridTarget: function () {
				return $("#" + orders.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+orders.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'ordersId',               	data: 'ordersId',             	visible: false},
						{title: 'deliveryId',               data: 'deliveryId',             visible: false},
						{title: 'userId',               	data: 'userId',             	visible: false},
						{title: 'userName', 				data: 'userName', 				width: "10%"},
						{title: 'identifier', 				data: 'identifier', 			width: "10%"},
						{title: 'orderDt', 					data: 'orderDt', 				width: "10%"},
						{title: 'ordersStatus', 			data: 'ordersStatus', 			width: "10%"},
						{title: 'Country', 					data: 'deliveryCountry', 		width: "10%"},
						{title: 'ZipCode', 					data: 'deliveryZipCode', 		width: "10%"},
						{title: 'City', 					data: 'deliveryCity', 			width: "10%"},
						{title: 'Street', 					data: 'deliveryStreet', 		width: "10%"},
						{title: 'etc', 						data: 'deliveryEtc', 			width: "10%"},
					],
					data: [],
					select: {
						style: 'multi',
					},
					buttons: [
						{
							text: '<i class="fa fa-check-square"></i>',
							action: function () {
								var _selectedRows = orders.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length > 0) orders.gridTarget().rows().deselect();
								else orders.gridTarget().rows().select();
							}
						},
						{
							text: '<i class="fa fa-plus"></i>',
							action: function () {
								$("#post_orders").modal("show");
							},
						},
						{
							text: '<i class="fa fa-edit"></i>',
							action: function () {
								var _selectedRows = orders.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								} else if(_selectedRows.length > 1) {
									lozm.func.alertRowsAreSelected();
									return;
								}

								console.log(_selectedRows[0]);
								lozm.func.setDetail("put_", _selectedRows[0]);

								$("#put_orders").modal("show");
							},
						},
						{
							text: '<i class="fa fa-minus"></i>',
							action: function () {
								var _selectedRows = orders.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								}

								if(confirm("Are you sure to delete the data?")) orders.delete(_selectedRows);
							},
						},	
						{
							extend: "csv",
							text: '<i class="fa fa-download"></i>',
							charset: 'UTF-16LE',
						},
						{
							extend: "excel",
							text: '<i class="fa fa-file-excel-o"></i>',
							charset: 'UTF-16LE',
						}
					],
				});
			},
			getGridData: function () {
				lozm.func.requestGet({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/orders",
					callback: {
						success: function (result) {
							if(result.success) {
								orders.gridTarget().clear().draw();
								orders.gridTarget().rows.add(result.data.list).draw();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			post: function () {
				lozm.func.requestPost({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/orders",
					data: {
						userId: $("#post_user_id").val(),
						itemId: $("#post_item_id").val(),
						quantity: $("#post_item_quantity").val(),
						couponId: $("#post_coupon_id").val(),
						deliveryId: $("#post_delivery_id").val()
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								orders.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			put: function () {
				lozm.func.requestPut({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/orders",
					data: {
						id: $("#put_ordersId").val(),
						status: $("#put_ordersStatus").val()
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								orders.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			delete: function (list) {
				lozm.func.requestDelete({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/orders",
					data: {
						list: list
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								orders.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
		};

		var user = {
			gridId: "userGrid",
			gridTarget: function () {
				return $("#" + user.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+user.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',               	data: 'id',             	visible: false},
						{title: 'password',             data: 'password',           visible: false},
						{title: 'Identifier', 			data: 'identifier', 		width: "40%"},
						{title: 'Name', 				data: 'name', 				width: "40%"},
						{title: 'Type', 				data: 'type', 				width: "20%"},
					],
					data: [],
					select: {
						style: 'single',
					},
					buttons: [
					],
				});
			},
			getGridData: function () {
				lozm.func.requestGet({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/user",
					callback: {
						success: function (result) {
							if(result.success) {
								user.gridTarget().clear().draw();
								user.gridTarget().rows.add(result.data.list).draw();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			setInput: function () {
				var _selectedRows = user.gridTarget().rows({selected: true}).data().toArray();
				var _target = _selectedRows[0];

				$("#post_user_id").val(_target.id);
				$("#post_user").val(_target.name + "(ID: " + _target.identifier + ", Type: " + _target.type + ")");
				$("#get_user").modal("hide");
			},
		};

		var store = {
			gridId: "storeGrid",
			gridTarget: function () {
				return $("#" + store.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+store.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',               	data: 'id',             visible: false},
						{title: 'Store name', 			data: 'name', 			width: "20%"},
						{title: 'Telephone Number', 	data: 'telNumber', 		width: "30%"},
						{title: 'Information', 			data: 'info', 			width: "40%"},
					],
					data: [],
					select: {
						style: 'single',
					},
					buttons: [
					],
				});
			},
			getGridData: function () {
				lozm.func.requestGet({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/store",
					callback: {
						success: function (result) {
							if(result.success) {
								store.gridTarget().clear().draw();
								store.gridTarget().rows.add(result.data.list).draw();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			setInput: function () {
				var _selectedRows = store.gridTarget().rows({selected: true}).data().toArray();
				var _target = _selectedRows[0];

				$("#post_store_id").val(_target.id);
				$("#post_store").val(_target.name);
				$("#get_store").modal("hide");
			},
		};

		var item = {
			type: {
				outer: "OUTER",
				top: "TOP",
				bottom: "BOTTOM",
				shoes: "SHOES"
			},
			getGridData: function (itemType) {
				lozm.func.requestGet({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/store/" + $("#post_store_id").val() + "/clothing/" + itemType,
					callback: {
						success: function(result) {

							if(result.success === true) {
								var _gridTarget = $("#" + itemType.toLowerCase() + "Grid").DataTable();
								_gridTarget.clear().draw();
								_gridTarget.rows.add(result.data.list).draw();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function(xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			setInput: function () {
				var _activeType = item.type[$(".nav-link.active").attr("href").replace("#","")];

				var _selectedRows = null;
				if(_activeType === item.type.outer) {
					_selectedRows = itemOuter.gridTarget().rows({selected: true}).data().toArray();
				} else if(_activeType === item.type.top) {
					_selectedRows = itemTop.gridTarget().rows({selected: true}).data().toArray();
				} else if(_activeType === item.type.bottom) {
					_selectedRows = itemBottom.gridTarget().rows({selected: true}).data().toArray();
				} else if(_activeType === item.type.shoes) {
					_selectedRows = itemShoes.gridTarget().rows({selected: true}).data().toArray();
				} else {
					lozm.func.alertWarning("While selecting the item, error has occured.");
				}

				var _target = _selectedRows[0];

				$("#post_item_id").val(_target.id);
				$("#post_item").val(_target.name);
				$("#get_item").modal("hide");
			},
			showModal: function () {
				if(lozm.func.isEmpty($("#post_store_id").val())) {
					lozm.func.alertWarning("Select the store before selecting the item.");
					return;
				}

				item.getGridData(item.type.outer);
				$("#get_item").modal("show");
			},
		};

		var itemOuter = {
			gridId: "outerGrid",
			gridTarget: function () {
				return $("#" + itemOuter.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+itemOuter.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',       data: 'id',         visible: false},
						{title: 'name',     data: 'name',       width: "30%"},
						{title: 'contents', data: 'contents',   width: "40%"},
						{title: 'price',    data: 'price',      width: "10%"},
						{title: 'size',     data: 'size',       width: "10%"},
						{title: 'quantity', data: 'quantity',   width: "10%"},
					],
					data: /*[[ ${outerList} ]]*/ "",
					select: {
						style: 'multi',
					},
					buttons: [
						{
							text: '<i class="fa fa-check-square"></i>',
							action: function () {
								var _selectedRows = itemOuter.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length > 0) itemOuter.gridTarget().rows().deselect();
								else itemOuter.gridTarget().rows().select();
							}
						},
						{
							text: '<i class="fa fa-plus"></i>',
							action: function () {
								$('#post_item_type').val(item.type.outer);
								$("#post_item").modal("show");
							},
						},
						{
							text: '<i class="fa fa-edit"></i>',
							action: function () {
								var _selectedRows = itemOuter.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								} else if(_selectedRows.length > 1) {
									lozm.func.alertRowsAreSelected();
									return;
								}

								lozm.func.setDetail("put_item_", _selectedRows[0]);
								$('#put_item_type').val(item.type.outer);
								$("#put_item").modal("show");
							},
						},
						{
							text: '<i class="fa fa-minus"></i>',
							action: function () {
								var _selectedRows = itemOuter.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								}
								if(confirm("Are you sure to delete the data?")) item.delete(_selectedRows, item.type.outer);
							},
						},
						{
							extend: "csv",
							text: '<i class="fa fa-download"></i>',
							charset: 'UTF-16LE',
						},
						{
							extend: "excel",
							text: '<i class="fa fa-file-excel-o"></i>',
							charset: 'UTF-16LE',
						}
					],
				});
			},
		};

		var itemTop = {
			gridId: "topGrid",
			gridTarget: function () {
				return $("#" + itemTop.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+itemTop.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',       data: 'id',         visible: false},
						{title: 'name',     data: 'name',       width: "30%"},
						{title: 'contents', data: 'contents',   width: "40%"},
						{title: 'price',    data: 'price',      width: "10%"},
						{title: 'size',     data: 'size',       width: "10%"},
						{title: 'quantity', data: 'quantity',   width: "10%"},
					],
					data: /*[[ ${topList} ]]*/ "",
					select: {
						style: 'multi',
					},
					buttons: [
						{
							text: '<i class="fa fa-check-square"></i>',
							action: function () {
								var _selectedRows = itemTop.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length > 0) itemTop.gridTarget().rows().deselect();
								else itemTop.gridTarget().rows().select();
							}
						},
						{
							text: '<i class="fa fa-plus"></i>',
							action: function () {
								$('#post_item_type').val(item.type.top);
								$("#post_item").modal("show");
							},
						},
						{
							text: '<i class="fa fa-edit"></i>',
							action: function () {
								var _selectedRows = itemTop.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								} else if(_selectedRows.length > 1) {
									lozm.func.alertRowsAreSelected();
									return;
								}

								console.log(_selectedRows);
								lozm.func.setDetail("put_item_", _selectedRows[0]);
								$('#put_item_type').val(item.type.top);
								$("#put_item").modal("show");
							},
						},
						{
							text: '<i class="fa fa-minus"></i>',
							action: function () {
								var _selectedRows = itemTop.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								}
								if(confirm("Are you sure to delete the data?")) item.delete(_selectedRows, item.type.top);
							},
						},
						{
							extend: "csv",
							text: '<i class="fa fa-download"></i>',
							charset: 'UTF-16LE',
						},
						{
							extend: "excel",
							text: '<i class="fa fa-file-excel-o"></i>',
							charset: 'UTF-16LE',
						}
					],
				});
			},

		};

		var itemBottom = {
			gridId: "bottomGrid",
			gridTarget: function () {
				return $("#" + itemBottom.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+itemBottom.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',       data: 'id',         visible: false},
						{title: 'name',     data: 'name',       width: "30%"},
						{title: 'contents', data: 'contents',   width: "40%"},
						{title: 'price',    data: 'price',      width: "10%"},
						{title: 'size',     data: 'size',       width: "10%"},
						{title: 'quantity', data: 'quantity',   width: "10%"},
					],
					data: /*[[ ${bottomList} ]]*/ "",
					select: {
						style: 'multi',
					},
					buttons: [
						{
							text: '<i class="fa fa-check-square"></i>',
							action: function () {
								var _selectedRows = itemBottom.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length > 0) itemBottom.gridTarget().rows().deselect();
								else itemBottom.gridTarget().rows().select();
							}
						},
						{
							text: '<i class="fa fa-plus"></i>',
							action: function () {
								$('#post_item_type').val(item.type.bottom);
								$("#post_item").modal("show");
							},
						},
						{
							text: '<i class="fa fa-edit"></i>',
							action: function () {
								var _selectedRows = itemBottom.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								} else if(_selectedRows.length > 1) {
									lozm.func.alertRowsAreSelected();
									return;
								}

								console.log(_selectedRows);
								lozm.func.setDetail("put_item_", _selectedRows[0]);
								$('#put_item_type').val(item.type.bottom);
								$("#put_item").modal("show");
							},
						},
						{
							text: '<i class="fa fa-minus"></i>',
							action: function () {
								var _selectedRows = itemBottom.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								}
								if(confirm("Are you sure to delete the data?")) item.delete(_selectedRows, item.type.bottom);
							},
						},
						{
							extend: "csv",
							text: '<i class="fa fa-download"></i>',
							charset: 'UTF-16LE',
						},
						{
							extend: "excel",
							text: '<i class="fa fa-file-excel-o"></i>',
							charset: 'UTF-16LE',
						}
					],
				});
			},
		};

		var itemShoes = {
			gridId: "shoesGrid",
			gridTarget: function () {
				return $("#" + itemShoes.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+itemShoes.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',       data: 'id',         visible: false},
						{title: 'name',     data: 'name',       width: "30%"},
						{title: 'contents', data: 'contents',   width: "40%"},
						{title: 'price',    data: 'price',      width: "10%"},
						{title: 'size',     data: 'size',       width: "10%"},
						{title: 'quantity', data: 'quantity',   width: "10%"},
					],
					data: /*[[ ${shoesList} ]]*/ "",
					select: {
						style: 'multi',
					},
					buttons: [
						{
							text: '<i class="fa fa-check-square"></i>',
							action: function () {
								var _selectedRows = itemShoes.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length > 0) itemShoes.gridTarget().rows().deselect();
								else itemShoes.gridTarget().rows().select();
							}
						},
						{
							text: '<i class="fa fa-plus"></i>',
							action: function () {
								$('#post_item_type').val(item.type.shoes);
								$("#post_item").modal("show");
							},
						},
						{
							text: '<i class="fa fa-edit"></i>',
							action: function () {
								var _selectedRows = itemShoes.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								} else if(_selectedRows.length > 1) {
									lozm.func.alertRowsAreSelected();
									return;
								}

								console.log(_selectedRows);
								lozm.func.setDetail("put_item_", _selectedRows[0]);
								$('#put_item_type').val(item.type.shoes);
								$("#put_item").modal("show");
							},
						},
						{
							text: '<i class="fa fa-minus"></i>',
							action: function () {
								var _selectedRows = itemShoes.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								}
								if(confirm("Are you sure to delete the data?")) item.delete(_selectedRows, item.type.shoes);
							},
						},
						{
							extend: "csv",
							text: '<i class="fa fa-download"></i>',
							charset: 'UTF-16LE',
						},
						{
							extend: "excel",
							text: '<i class="fa fa-file-excel-o"></i>',
							charset: 'UTF-16LE',
						}
					],
				});
			},
		};

		var coupon = {
			gridId: "couponGrid",
			gridTarget: function () {
				return $("#" + coupon.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+coupon.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',               	data: 'id',             	visible: false},
						{title: 'Name', 				data: 'name', 				width: "20%"},
						{title: 'Type', 				data: 'type', 				width: "10%"},
						{title: 'Amount', 				data: 'amount', 			width: "10%"},
						{title: 'Quantity', 			data: 'quantity', 			width: "10%"},
						{title: 'Contents', 			data: 'contents', 			width: "30%"},
						{title: 'Start dateTime', 		data: 'startDt', 			width: "10%"},
						{title: 'End dateTime', 		data: 'endDt', 				width: "10%"},
					],
					data: [],
					select: {
						style: 'single',
					},
					buttons: [
					],
				});
			},
			getGridData: function () {
				lozm.func.requestGet({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/coupon",
					callback: {
						success: function (result) {

							if(result.success) {
								coupon.gridTarget().clear().draw();
								coupon.gridTarget().rows.add(result.data.list).draw();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			setInput: function () {
				var _selectedRows = coupon.gridTarget().rows({selected: true}).data().toArray();
				var _target = _selectedRows[0];

				$("#post_coupon_id").val(_target.id);
				$("#post_coupon").val(_target.name + "(Type: " + _target.type + ", Amount: " + _target.amount + ", Quantity: " + _target.quantity + ")");
				$("#get_coupon").modal("hide");
			},
		};

		var delivery = {
			gridId: "deliveryGrid",
			gridTarget: function () {
				return $("#" + delivery.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+delivery.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',               	data: 'id',             	visible: false},
						{title: 'Status', 				data: 'status', 			width: "15%"},
						{title: 'Country', 				data: 'country', 			width: "15%"},
						{title: 'ZipCode', 				data: 'zipCode', 			width: "15%"},
						{title: 'City', 				data: 'city', 				width: "15%"},
						{title: 'Street', 				data: 'street', 			width: "15%"},
						{title: 'Etc', 					data: 'etc', 				width: "25%"},
					],
					data: [],
					select: {
						style: 'single',
					},
					buttons: [
						{
							extend: "csv",
							text: '<i class="fa fa-download"></i>',
							charset: 'UTF-16LE',
						},
						{
							extend: "excel",
							text: '<i class="fa fa-file-excel-o"></i>',
							charset: 'UTF-16LE',
						}
					],
				});
			},
			getGridData: function () {
				lozm.func.requestGet({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/delivery",
					callback: {
						success: function (result) {

							if(result.success) {
								delivery.gridTarget().clear().draw();
								delivery.gridTarget().rows.add(result.data.list).draw();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			setInput: function () {
				var _selectedRows = delivery.gridTarget().rows({selected: true}).data().toArray();
				var _target = _selectedRows[0];

				$("#post_delivery_id").val(_target.id);
				$("#post_delivery").val(_target.zipCode + "(Country: " + _target.country + ", City: " + _target.city + ", Street: " + _target.street + ")");
				$("#get_delivery").modal("hide");
			},
		};

	</script>
</th:block>
</html>
