<th:block th:fragment="contentHeader(page, depth1, depth2, depth3, depth4)" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2 th:text="${page}">This is main title</h2>
            <ol class="breadcrumb">
                <th:block th:if="${depth1 != ''}">
                    <li class="breadcrumb-item"><a href="javaScript:void();" th:text="${depth1}"></a></li>
                </th:block>

                <th:block th:if="${depth2 != ''}">
                    <li class="breadcrumb-item"><a href="javaScript:void();" th:text="${depth2}"></a></li>
                </th:block>

                <th:block th:if="${depth3 != ''}">
                    <li class="breadcrumb-item"><a href="javaScript:void();" th:text="${depth3}"></a></li>
                </th:block>

                <th:block th:if="${depth4 != ''}">
                    <li class="breadcrumb-item"><a href="javaScript:void();" th:text="${depth4}"></a></li>
                </th:block>
            </ol>
        </div>

        <div class="col-sm-8">
            <div class="title-action">
                <a href="" class="btn btn-primary" th:text="${page}">This is action area</a>
            </div>
        </div>
    </div>

</th:block>