<th:block th:fragment="dataTable" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!--========================== CSS ==========================-->
    <link rel="stylesheet" type="text/css" th:href="@{/libs/inspinia/css/plugins/dataTables/datatables.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/libs/inspinia/css/multiSelect/jquery.dataTables.min.css}" />

    <!-- multi select -->
    <link rel="stylesheet" type="text/css" th:href="@{/libs/inspinia/css/multiSelect/select.dataTables.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/libs/inspinia/css/multiSelect/buttons.dataTables.min.css}"/>
    <!--========================== CSS ==========================-->

    <!--========================== JS ==========================-->
    <script th:src="@{/libs/inspinia/js/multiSelect/jquery.dataTables.min.js}"></script>
    <script th:src="@{/libs/inspinia/js/plugins/dataTables/dataTables.bootstrap4.min.js}"></script>

    <!-- multi select -->
    <script th:src="@{/libs/inspinia/js/multiSelect/dataTables.select.min.js}"></script>
    <script th:src="@{/libs/inspinia/js/multiSelect/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/libs/inspinia/js/multiSelect/dataTables.buttons.min.js}"></script>
    <script th:src="@{/libs/inspinia/js/multiSelect/buttons.bootstrap4.min.js}"></script>
    <script th:src="@{/libs/inspinia/js/multiSelect/jszip.min.js}"></script>
    <script th:src="@{/libs/inspinia/js/multiSelect/pdfmake.min.js}"></script>
    <script th:src="@{/libs/inspinia/js/multiSelect/vfs_fonts.js}"></script>
    <script th:src="@{/libs/inspinia/js/multiSelect/buttons.html5.min.js}"></script>
    <script th:src="@{/libs/inspinia/js/multiSelect/buttons.print.min.js}"></script>
    <script th:src="@{/libs/inspinia/js/multiSelect/buttons.colVis.min.js}"></script>
    <!--========================== JS ==========================-->

</th:block>