<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Administrator</title>

    <th:block th:replace="@{layout/default.html} :: default"></th:block>
    <th:block th:replace="@{layout/chatting.html} :: chatting"></th:block>
</head>

<body class="">
    <div id="wrapper">
        <th:block th:replace="@{layout/mainLeftSidebar.html} :: sidebar"></th:block>

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <th:block th:replace="@{layout/mainHeader.html} :: header"></th:block>
            </div>

            <th:block layout:fragment="content">


            </th:block>

            <th:block th:replace="@{layout/mainFooter.html} :: footer"></th:block>
        </div>
    </div>
</body>

<th:block layout:fragment="customScript"></th:block>

</html>