<th:block th:fragment="wizard" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!--========================== CSS ==========================-->
    <!-- Steps -->
    <link rel="stylesheet" type="text/css" th:href="@{/libs/inspinia/css/plugins/steps/jquery.steps.css}" />
    <!--========================== CSS ==========================-->

    <!--========================== JS ==========================-->
    <!-- Steps -->
    <script th:src="@{/libs/inspinia/js/plugins/steps/jquery.steps.min.js}"></script>
    <!--========================== JS ==========================-->

</th:block>