<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainLayout}">

<th:block layout:fragment="content">
	<th:block
			th:replace="@{layout/contentHeader.html} :: contentHeader('Board','BoardManagement','','','')"></th:block>

	<th:block th:replace="@{layout/dataTable.html} :: dataTable"></th:block>

	<div class="wrapper wrapper-content">

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox ">
					<div class="ibox-title">
						<h5>Board</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="fa fa-wrench"></i>
							</a>
							<ul class="dropdown-menu dropdown-user">
								<li><a href="#" class="dropdown-item">Config option 1</a>
								</li>
								<li><a href="#" class="dropdown-item">Config option 2</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="ibox-content">

						<div class="table-responsive">
							<table class="table table-bordered table-hover" id="boardGrid">

							</table>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
</th:block>

<th:block layout:fragment="customScript">
	<script th:inline="javascript" type="text/javascript">
		$(document).ready(function () {
			board.initGrid();
			board.getGridData();

			$("#post_boardForm").validate({
				submitHandler: function(form) {
					board.post();
				},
				rules: {
					name: {required: true},
					identifier: {required: true},
					password: {required: true},
					type: {required: true},
				},
			});


			$("#put_boardForm").validate({
				submitHandler: function(form) {
					board.put();
				},
				rules: {
					name: {	required: true},
					identifier: {required: true},
					type: {required: true},
				},
			});
		});

		var board = {
			gridId: "boardGrid",
			gridTarget: function () {
				return $("#" + board.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+board.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',               	data: 'id',             	visible: false},
						{title: 'boardType', 			data: 'boardType', 			width: "10%"},
						{title: 'contentType', 			data: 'contentType', 		width: "10%"},
						{title: 'title', 				data: 'title', 				width: "20%"},
						{title: 'content', 				data: 'content', 			width: "60%"},
					],
					data: [],
					select: {
						style: 'multi',
					},
					buttons: [
						{
							text: '<i class="fa fa-check-square"></i>',
							action: function () {
								var _selectedRows = board.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length > 0) board.gridTarget().rows().deselect();
								else board.gridTarget().rows().select();
							}
						},
						{
							text: '<i class="fa fa-plus"></i>',
							action: function () {
								$("#post_board").modal("show");
							},
						},
						{
							text: '<i class="fa fa-edit"></i>',
							action: function () {
								var _selectedRows = board.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								} else if(_selectedRows.length > 1) {
									lozm.func.alertRowsAreSelected();
									return;
								}

								lozm.func.movePage("/pages/manage/board/" + _selectedRows[0].id);
							},
						},
						{
							text: '<i class="fa fa-minus"></i>',
							action: function () {
								var _selectedRows = board.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								}

								if(confirm("Are you sure to delete the data?")) board.delete(_selectedRows);
							},
						},
						{
							extend: "csv",
							text: '<i class="fa fa-download"></i>',
							charset: 'UTF-16LE',
						},
						{
							extend: "excel",
							text: '<i class="fa fa-file-excel-o"></i>',
							charset: 'UTF-16LE',
						}
					],
				});
			},

			getGridData: function () {
				lozm.func.requestGet({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/board/boardType/ALL",
					callback: {
						success: function (result) {

							if(result.success) {
								board.gridTarget().clear().draw();
								board.gridTarget().rows.add(result.data.list).draw();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			post: function () {
				lozm.func.requestPost({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/board",
					data: {
						boardType: $("#post_board_type").val(),
						contentType: $("#post_content_type").val(),
						title: $("#post_title").val(),
						content: $("#post_content").val()
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								board.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			delete: function (list) {
				lozm.func.requestDelete({
					url: lozm.GATEWAY_SERVER + "/platform-api/api/board",
					data: {
						list: list
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								board.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
		};

	</script>
</th:block>
</html>
