<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainLayout}">

<th:block layout:fragment="content">
	<th:block
			th:replace="@{layout/contentHeader.html} :: contentHeader('Detail','Board management','board','','')"></th:block>

	<th:block th:replace="@{layout/dataTable.html} :: dataTable"></th:block>

	<div class="wrapper wrapper-content">

		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<div class="card-title">Board > Detail</div>
						<hr>
						<form id="put_boardForm">
							<div class="form-group">
								<label for="put_boardType">Board type</label>
								<select class="form-control single-select" id="put_boardType" name="boardType">
									<option th:each="item : ${boardTypeList}" th:value="${item}" th:text="${item}"></option>
								</select>
							</div>

							<div class="form-group">
								<label for="put_contentType">Content type</label>
								<select class="form-control single-select" id="put_contentType" name="contentType">
									<option th:each="item : ${contentTypeList}" th:value="${item}" th:text="${item}"></option>
								</select>
							</div>

							<div class="form-group">
								<label for="put_title">Title</label>
								<input type="text" class="form-control" id="put_title" name="title">
							</div>

							<div class="form-group">
								<label for="put_content">Content</label>
								<textarea rows="10" class="form-control" id="put_content" name="content"></textarea>
							</div>

							<div class="form-group">
								<button type="submit" class="btn btn-primary" >Save</button>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="tabs-container">
					<ul class="nav nav-tabs" role="tablist">
						<li><a class="nav-link active" data-toggle="tab" href="#tab-1"> Comment</a></li>
<!--						<li><a class="nav-link" data-toggle="tab" href="#tab-2">This is second tab</a></li>-->
					</ul>
					<div class="tab-content">
						<div role="tabpanel" id="tab-1" class="tab-pane active">
							<div class="panel-body">
								<div class="card">
									<div class="card-header">
										<i class="fa fa-table"></i> Board > Comment
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table id="commentGrid" class="table table-bordered display modal-grid"></table>
										</div>
									</div>
								</div>
							</div>
						</div>
<!--						<div role="tabpanel" id="tab-2" class="tab-pane">-->
<!--							<div class="panel-body">-->
<!--							</div>-->
<!--						</div>-->
					</div>


				</div>
			</div>
		</div>

	</div>

	<div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" id="post_comment">
		<div class="modal-dialog">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<i class="fa fa-check-square-o modal-icon"></i>
				</div>

				<form id="post_commentForm">
					<div class="modal-body">
						<div class="form-group">
							<label for="post_comment_type">Comment type</label>
							<select class="form-control single-select" id="post_comment_type" name="comment_type">
								<option th:each="item : ${commentTypeList}" th:value="${item}" th:text="${item}"></option>
							</select>
						</div>

						<div class="form-group">
							<label for="post_content">Content</label>
							<textarea rows="10" class="form-control" id="post_content" name="content"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</th:block>

<th:block layout:fragment="customScript">
	<script th:inline="javascript" type="text/javascript">
		$(document).ready(function () {
			board.getDetail();
			comment.initGrid();
			comment.getGridData();

			$("#put_boardForm").validate({
				submitHandler: function(form) {
					board.put();
				},
				rules: {
					boardType: {required: true},
					contentType: {required: true},
					title: {required: true},
					content: {required: true},
				},
			});

			$("#post_commentForm").validate({
				submitHandler: function(form) {
					comment.post();
				},
				rules: {
					commentType: {required: true},
					content: {required: true},
				},
			});
		});

		var board = {
			id: window.location.pathname.split("/board/")[1],
			getDetail: function() {
				lozm.func.requestGet({
					url: lozm.GATEWAY_SERVER + "/community-api/api/board/" + board.id,
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.setDetail("put_", result.data);
							} else {
								lozm.func.alertFail(result.message);
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
							lozm.func.alertFail();
						}
					}
				});
			},
			put: function () {
				lozm.func.requestPut({
					url: lozm.GATEWAY_SERVER + "/community-api/api/board",
					data: {
						id: board.id,
						boardType: $("#put_boardType").val(),
						contentType: $("#put_contentType").val(),
						title: $("#put_title").val(),
						content: $("#put_content").val()
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
		};

		var comment = {
			gridId: "commentGrid",
			selectedRows: [],
			gridTarget: function () {
				return $("#" + comment.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+comment.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',       		data: 'id',         		visible: false},
						{title: 'Comment type', 	data: 'commentType',   		width: "20%"},
						{title: 'Flag', 			data: 'flag',   			width: "10%"},
						{title: 'Content',    		data: 'content',     		width: "70%"},
					],
					data: [],
					select: {
						style: 'multi',
					},
					buttons: [
						{
							text: '<i class="fa fa-check-square"></i>',
							action: function () {
								var _selectedRows = comment.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length > 0) comment.gridTarget().rows().deselect();
								else comment.gridTarget().rows().select();
							}
						},
						{
							text: '<i class="fa fa-plus"></i>',
							action: function () {
								$("#post_comment").modal("show");
							},
						},
						{
							text: '<i class="fa fa-minus"></i>',
							action: function () {
								var _selectedRows = comment.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								}
								if(confirm("Are you sure to delete the data?")) comment.delete(_selectedRows);
							},
						},
						{
							extend: "csv",
							text: '<i class="fa fa-download"></i>',
							charset: 'UTF-16LE',
						},
						{
							extend: "excel",
							text: '<i class="fa fa-file-excel-o"></i>',
							charset: 'UTF-16LE',
						}
					],
				});
			},
			getGridData: function () {
				lozm.func.requestGet({
					url: lozm.GATEWAY_SERVER + "/community-api/api/board/" + board.id + "/comment",
					callback: {
						success: function (result) {
							if(result.success) {
								comment.gridTarget().clear().draw();
								comment.gridTarget().rows.add(result.data.list.content).draw();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			post: function () {
				lozm.func.requestPost({
					url: lozm.GATEWAY_SERVER + "/community-api/api/board/comment",
					data: {
						boardId: board.id,
						commentType: $("#post_comment_type").val(),
						content: $("#post_content").val()
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								comment.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			delete: function (list) {
				lozm.func.requestDelete({
					url: lozm.GATEWAY_SERVER + "/community-api/api/board/comment",
					data: {
						list: list
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								comment.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
		};

	</script>
</th:block>
</html>
