<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/mainLayout}">

<th:block layout:fragment="content">
	<th:block
			th:replace="@{layout/contentHeader.html} :: contentHeader('User','Setting','','','')"></th:block>

	<th:block th:replace="@{layout/dataTable.html} :: dataTable"></th:block>

	<div class="wrapper wrapper-content">

		<div class="row">
			<div class="col-lg-12">
				<div class="ibox ">
					<div class="ibox-title">
						<h5>User</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="fa fa-wrench"></i>
							</a>
							<ul class="dropdown-menu dropdown-user">
								<li><a href="#" class="dropdown-item">Config option 1</a>
								</li>
								<li><a href="#" class="dropdown-item">Config option 2</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="ibox-content">

						<div class="table-responsive">
							<table class="table table-bordered table-hover" id="userGrid">

							</table>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" id="post_user">
		<div class="modal-dialog">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<i class="fa fa-check-square-o modal-icon"></i>
				</div>

				<form id="post_userForm">
					<div class="modal-body">
						<div class="form-group">
							<label for="post_name">Name</label>
							<input type="text" class="form-control" id="post_name" name="name">
						</div>

						<div class="form-group">
							<label for="post_identifier">Identifier</label>
							<input type="text" class="form-control" id="post_identifier" name="identifier">
						</div>

						<div class="form-group">
							<label for="post_password">Password</label>
							<input type="password" class="form-control" id="post_password" name="password">
						</div>

						<div class="form-group">
							<label for="post_type">Type</label>
							<select class="form-control single-select" id="post_type" name="type">
								<option value="ADMIN">Admin</option>
								<option value="USER">User</option>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true" id="put_user">
		<div class="modal-dialog">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<i class="fa fa-check-square-o modal-icon"></i>
				</div>

				<form id="put_userForm">
					<div class="modal-body">
						<div class="form-group">
							<input type="hidden" id="put_id">
						</div>

						<div class="form-group">
							<label for="put_name">Name</label>
							<input type="text" class="form-control" id="put_name" name="name">
						</div>

						<div class="form-group">
							<label for="put_identifier">Identifier</label>
							<input type="text" class="form-control" id="put_identifier" name="identifier">
						</div>

						<div class="form-group">
							<label for="put_password">Password</label>
							<input type="password" class="form-control" id="put_password" name="password">
						</div>

						<div class="form-group">
							<label for="put_type">Type</label>
							<select class="form-control single-select" id="put_type" name="type">
								<option value="ADMIN">Admin</option>
								<option value="USER">User</option>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</th:block>

<th:block layout:fragment="customScript">
	<script th:inline="javascript" type="text/javascript">
		$(document).ready(function () {
			user.initGrid();
			user.getGridData();

			$("#post_userForm").validate({
				submitHandler: function(form) {
					user.post();
				},
				rules: {
					name: {required: true},
					identifier: {required: true},
					password: {required: true},
					type: {required: true},
				},
			});


			$("#put_userForm").validate({
				submitHandler: function(form) {
					user.put();
				},
				rules: {
					name: {required: true},
					identifier: {required: true},
					type: {required: true},
				},
			});

		});

		var user = {
			gridId: "userGrid",
			gridTarget: function () {
				return $("#" + user.gridId).DataTable();
			},
			initGrid: function () {
				$("#"+user.gridId).DataTable({
					dom: 'Bftrip',
					columns: [
						{title: 'id',               	data: 'id',             	visible: false},
						{title: 'Identifier', 			data: 'identifier', 		width: "40%",		className: "dt-body-left",},
						{title: 'Name', 				data: 'name', 				width: "40%",		className: "dt-body-left",},
						{title: 'Type', 				data: 'type', 				width: "20%",		className: "dt-body-center",},
						{title: 'Flag', 				data: 'flag', 				width: "20%",		className: "dt-body-center",},
					],
					data: [],
					select: {
						style: 'multi',
					},
					buttons: [
						{
							text: '<i class="fa fa-check-square"></i>',
							action: function () {
								var _selectedRows = user.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length > 0) user.gridTarget().rows().deselect();
								else user.gridTarget().rows().select();
							}
						},
						{
							text: '<i class="fa fa-plus"></i>',
							action: function () {
								$("#post_user").modal("show");
							},
						},
						{
							text: '<i class="fa fa-edit"></i>',
							action: function () {
								var _selectedRows = user.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								} else if(_selectedRows.length > 1) {
									lozm.func.alertRowsAreSelected();
									return;
								}

								lozm.func.setDetail("put_", _selectedRows[0]);

								$("#put_user").modal("show");
							},
						},
						{
							text: '<i class="fa fa-minus"></i>',
							action: function () {
								var _selectedRows = user.gridTarget().rows({selected: true}).data().toArray();
								if(_selectedRows.length < 1) {
									lozm.func.alertRowIsSelected();
									return;
								}

								if(confirm("Are you sure to delete the data?")) user.delete(_selectedRows);
							},
						},
						{
							extend: "csv",
							text: '<i class="fa fa-download"></i>',
							charset: 'UTF-16LE',
						},
						{
							extend: "excel",
							text: '<i class="fa fa-file-excel-o"></i>',
							charset: 'UTF-16LE',
						}
					],
				});
			},
			getGridData: function () {
				lozm.func.requestGet({
					url: lozm.GATEWAY_SERVER + "/community-api/api/user/usersType/ALL",
					callback: {
						success: function (result) {
							if(result.success) {
								user.gridTarget().clear().draw();
								user.gridTarget().rows.add(result.data.list.content).draw();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			post: function () {
				lozm.func.requestPost({
					url: lozm.GATEWAY_SERVER + "/community-api/api/user",
					data: {
						name: $("#post_name").val(),
						identifier: $("#post_identifier").val(),
						password: $("#post_password").val(),
						type: $("#post_type").val()
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								user.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			put: function () {
				lozm.func.requestPut({
					url: lozm.GATEWAY_SERVER + "/community-api/api/user",
					data: {
						id: $("#put_id").val(),
						name: $("#put_name").val(),
						identifier: $("#put_identifier").val(),
						password: $("#put_password").val(),
						type: $("#put_type").val()
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								user.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
			delete: function (list) {
				lozm.func.requestDelete({
					url: lozm.GATEWAY_SERVER + "/community-api/api/user",
					data: {
						list: list
					},
					callback: {
						success: function (result) {
							if(result.success) {
								lozm.func.alertSuccess();
								user.getGridData();
							} else {
								lozm.func.alertFail();
							}
						},
						error: function (xhr, status, error) {
							console.log(xhr);
							console.log(status);
							console.log(error);
						}
					}
				});
			},
		};

	</script>
</th:block>
</html>
